/*
  ========================================
  Fonts
  ========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
  ========================================
  Variables
  ========================================
*/

:root {
  --gradient-blue: #22a2bd;
  --gradient-green: #80fd4c;
  --main-bacgkround-color: #f8f8f8;

  --bg-custom-gradient: linear-gradient(109deg, rgb(182, 244, 146) 11.2%, rgb(51, 139, 147) 92.5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  
  
}

main {
  height: auto;
  @media (min-width: 720px) {
    height: calc(100vh - 70px);
  }
}

h2 {
  color: var(--gradient-blue);
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 3rem;
  font-weight: bold;
  text-shadow: 1px 0px 11px var(--gradient-green);
  -webkit-text-stroke: 1px black;
}

h3 {
  font-size: 11vw;
  line-height: 11vw;

  @media (min-width: 720px) {
    font-size: 3.3rem;
    line-height: 3.6rem;
  }

  @media (min-width: 1500px) {
    font-size: 3.2vw;
    line-height: 3vw;
  }
}